{% extends 'Home.html' %}

{% block title %} manage_order {% endblock %}

{% block content %}
<div class="wrapper">
    <div class="sidebar">
        <h2>Admin Page</h2>
        <ul>
            <li><a href="{{url_for('home_page')}}" target="_blank"><i class="fas fa-home"></i>Home</a></li>
                    <li><a target="_blank" href="{{url_for('manage_user')}}"><i class="fas fa-user"></i>Manage user</a></li>
                    <li><a target="_blank" href="{{url_for('manage_post')}}"><i class="fas fa-user"></i>Manage Posts</a></li>
                    <li><a href="{{url_for('manage_order')}}"><i class="fas fa-user"></i>Manage Order</a>
                    </li>
                    <li><a target="_blank" href="/../Base.html"><i class='fa fa-wpexplorer'></i> Burger Website</a></li>
                    <li><a href="/../login/login/login.html"><iconify-icon icon="bx:log-out" width="29" height="20"></iconify-icon>
                        LOG OUT</a></li>
        </ul>
        <!-- <div class="social_media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div> -->
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>
        <div class="info">
            <div class="container">
                <div class="row">
                    <h1 class="he23">Manage order</h1>
                    <table class="table-latitude">
                        <thead>
                            <th>ID</th>
                            <th>Product Name</th>
                            <th>Amount</th>
                            <th>total price</th>
                            <th>address</th>
                            <th>name of person</th>
                            <th>status</th>
                            <th>Edit</th>
                            <th>remove</th>
                        </thead>
                        <tbody>
                            {% for row in rows %}
                            <tr>
                                <td>{{row.id_product}}</td>
                                <th>{{row.productname}}</th>
                                <th>0</th>
                                <td>0<span>$</span></td>
                                <td>{{row.address_user}}</td>
                                <td>{{row.firstname}}</td>
                                <td class="confirmed">confirmed</td>
                                <td><a href="{{ url_for('update_order' ,id_product=row.id_product) }}"><button
                                            class="button">Update</button></a></td>
                                <td><a href="{{ url_for('remove_order_page' ,id_product=row.id_product) }}"><button class="button-danger">Remove</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
{% endblock %}